
body{
  padding-top: 100px;
}
.App{
  display: flex;
flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  width: 350px;
  height: 100%;
  margin: auto;
  border: 1px solid rgb(178, 176, 176);
  border-radius: 20px;
  padding-bottom: 40px;
}

.img{
  margin:30px 0px;
  height: 100px;
}
.inputfield{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputfield input{
 width: 300px;
 height: 35px;
margin-bottom: 10px;
border-radius: 3px;
border: 1px solid rgb(178, 176, 176);
padding-left: 15px;
outline: none;
}
.sign-in{
  width: 320px;
  height: 37px;
 margin-bottom: 10px;
 border-radius: 3px;
background-color: rgb(7, 162, 228);
border: none;
color: white;
font-weight: 600;
}

.SwitchAccount{
  margin-top: 40px;
}

.SwitchAccount span{
  color: rgb(7, 162, 228);
  cursor: pointer;
}